.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  background: #202833;
  border-radius: 15px;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 2px 2px 5px black
}