.question-container {
  background-color: #3f4652;
  border: 1px solid black;
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  font-size: 2rem;
  color: #4da9f2; 
}