.table {
  color: #4da9f2;
  width: 100%;
  overflow-x: auto
}

.table td, th {
  text-align: center;
  padding: 15px;
}

.table td {
  font-size: 1rem;
}

.table tr:nth-child(even) {
  background-color: #373c47;
}

.score {
  color: #4da9f2;
  text-align: center
}

.correct {
  color: #8dc885;
}

.incorrect {
  color: red;
}

@media(max-width: 576px) {
  .quiz-results thead {
    display:none;
  }

  .quiz-results, .quiz-results tbody, .quiz-results tr, .quiz-results td {
    display: block;
  }

  .quiz-results td:nth-last-child(1) {
    /*hides icons*/
    display:none; 
  }

  .quiz-results td {
    text-align: right;
    position: relative;
  }

  .quiz-results td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  .score { 
    font-size: 1.25rem;
  }
}
