.results-table {
  color: #4da9f2;
  width: 100%;
  overflow-x: auto;
}

td, th {
  text-align: center;
  padding: 15px;
}

td {
  font-size: 1rem;
}


tr:nth-child(even) {
  background-color: #373c47;
}

.score {
  color: #4da9f2;
  text-align: center
}

.correct {
  color: #8dc885;
}

.incorrect {
  color: red;
}