.correct {
  color: #1be354;
}

.incorrect {
  color: red
}

.fade {
  text-align: center;
}

.fade-enter {
  opacity: 0;
  transform: translateY(20px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms linear, transform 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 300ms, transform 300ms;
}
.fade-exit-done{
  opacity: 0;
}


@media (max-width: 576px) {
    .fade {
      font-size: 16px;
      margin-top: 40px;
    }
}

@media (min-width: 576px) {
    .fade {
      font-size: 25px;
    }
}
