.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d4d4d4;
}

.form-field {
  overflow: hidden;
  width: 60%;
  height: 50px;
  margin-bottom: 30px;
  position: relative;
}

.form-field input {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  outline: none;
  background: none;
  border: none;
  color: #3bba9c;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
}

.form-field label {
  /* position label completely over input */
  font-weight: bold;
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  pointer-events: none; /* no pointer events so that input can be clicked on underneath */
  border-bottom: 2px solid #d4d4d4;

  transition: all 0.2s ease-out;
}

.form-field label::after {
	/* sliding border animation */
	content: "";
	position: absolute;
	left: 0px;
	bottom: -2px;
	height: 100%;
	width: 100%;
	border-bottom: 3px solid #3bba9c;
	transform: translateX(-100%);
	transition: transform 0.5s ease
}

.form-field:focus-within .label-text {
  transform: translateY(-100%);
  font-size: 14px;
  color: #3bba9c
}

.form-field:focus-within label::after {
  transform: translateX(0%)
}

.label-text {
	position: absolute;
	bottom: 5px;
	left: 0px;
	transition: all 0.3s ease
}

.focus {
  transform: translateY(-100%);
  font-size: 14px;
  color: #3bba9c
}

@media (max-width: 576px) {
  .form-field {
    width: 80%;
  }
}