.menu-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.menu-content {
  background: #202833;
  border-radius: 15px;
  padding: 30px;
  box-shadow: 2px 2px 5px black;
  width: 90%;
}

