.navbar {
  display: flex;                  
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  color: #4da9f2;
  background: #373c47;
  border-radius: 15px;
  width: 90%;
  height: 30px;
  padding: 30px;
  margin: 0 auto;
  margin-bottom: 5px;
  box-shadow: 2px 2px 5px black
}

.title {
  font-size: 25px;
  font-weight: bold
}

.navbar-right {
  list-style: none;
  display: flex;
}

.navbar-right li {
  font-size: 15px;
  margin-left: 40px;
}

.navbar-right li:hover {
  cursor: pointer;
  color: #d4d4d4;
  transition: all ease 0.4s
}

