.navbar {
  color: #4da9f2;
  background: #202833;
  padding: 8px 30px;
  margin: 0 auto;
  margin-bottom: 15px;
  box-shadow: 2px 2px 5px black;
  box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navbar ul li.list-item {
  font-size: 15px;
  text-align: center;
  margin: 0 16px;
  order: 4;
}

.navbar ul li.title {
  flex: 1;
  font-size: 23px;
  font-weight: 600;
}

.navbar ul .welcome {
  font-size: 15px;
  text-align: center;
  margin: 0 16px;
}

.navbar ul li:hover {
  cursor: pointer;
  color: #d4d4d4;
  transition: all ease 0.4s
}

.navbar ul li.hamburger-btn {
  display: none;
}

@media all and (max-width: 900px) {
  .navbar ul li.list-item {
    width: 100%;
    display: none;
    padding: 20px 0px;
    margin-top: 10px;
  }

  .navbar ul li.list-item:hover {
    transition: all linear 0.1s;
    border-radius: 12px;
    box-shadow: inset 0 0 5px #d4d4d4,
                inset 0 0 20px #e4d4d4;
  }

  .navbar ul.show li.list-item {
    display: block;
  }

  .navbar ul .welcome {
    display: none;
  }

  .navbar ul li.hamburger-btn {
    display: block;
    font-size: 25px;
  }
}

@media (max-width: 576px) {
  .navbar ul li.title {
    margin-right: 10px;
    font-size: 20px;
  }
}
