.table {
  width: 100%;
  overflow-x: auto
}

.table td, th {
  text-align: center;
  padding: 15px;
}

.table th {
  color: #4da9f2;
}

.table td {
  color: #d4d4d4;
}

.leaderboard td {
  font-size: 1rem;
}

.table tr:nth-child(even) {
  background-color: #373c47;
}

.score {
  color: #4da9f2;
  text-align: center
}

.correct {
  color: #8dc885;
}

.incorrect {
  color: red;
}

@media(max-width: 576px) {
  .responsive thead {
    display:none;
  }

  .responsive, .responsive tbody, .responsive tr, .responsive td {
    display: block;
  }

  .responsive td {
    text-align: right;
    position: relative;
  }

  .responsive td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
  }

  .score { 
    font-size: 1.25rem;
  }
}
