@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,200&display=swap');

body {
  background: #deeeff;
  font-family: 'JetBrains Mono', monospace;
}

.options-wrapper {
  display: inline-flex;
  flex-wrap: wrap; 
}

.options {
  margin: 20px;
  color: #4da9f2;
}


